<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Profil</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Profil de l'utilisateur</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <ion-avatar>
          <img src="assets/avatar.png" alt="Avatar utilisateur">
        </ion-avatar>
        <h2>Nom : Nadjla</h2>
        <p>Email : alzantoutienadjla@gmail.com</p>
      </ion-card-content>
    </ion-card>
  </ion-content>